.Header {
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    height: 83vh;
    padding: 20px;
   margin-bottom: 80px;
}
.Header .start {
    flex-basis: 400px ;
}
.Header .start h5{
    text-transform: uppercase;
}

.Header .start p{
    color: #777;
    
}
.Header .start .videoStart {
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.Header .textHeader h4 {
    margin-bottom: 20px;
    line-height: 1.3;
    font-size: 40px;
}
.Header .textHeader {
   
    align-self: flex-end;
}
.Header .textHeader h4 span {
    color: var(--btnColor);
}


/*responsve*/

@media (max-width:868px) {
    .Header {
        flex-direction: column;
        margin-bottom: 40px;
        height: 130vh;
    }
    .myCup {
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
    }
    .Header .textHeader {
        align-self: self-start;
    }
}